{% extends "admin fire/fire_main_dashboard.html" %} 
{% load static %} 
{% block title%}
Real-time Fire Map
{% endblock %} 
{% block extra_css %}

<link
	href="https://www.google.com/search?q=https://fonts.googleapis.com/css2%3Ffamily%3DInter:wght%40300%3B400%3B500%3B600%3B700%3B800%26display%3Dswap"
	rel="stylesheet"
/>
<link
	rel="stylesheet"
	href="https://www.google.com/search?q=https://cdn.jsdelivr.net/npm/ol%40v7.3.0/ol.css"
/>
<link
	rel="stylesheet"
	href="{% static 'css/admin css/fire css/fire map.css' %}"
/>

<!-- FIX: Add styles to ensure the map and its parents fill the height -->

<style>

</style>

{% endblock %} 
{% block content %}

<!-- FIX: Removed the incorrect <body> tag -->

<div class="container">
	<!-- Main content area, including the map and details panel -->
	<div class="main-content">
		<div class="map-area">
			<div id="map" class="rounded-xl">
				<!-- Popup for displaying brief incident info on map hover -->
				<div id="popup" class="ol-popup">
					<a href="#" id="popup-closer" class="ol-popup-closer">x</a>
					<div id="popup-content"></div>
				</div>
				<!-- Drawing controls for adding points, lines, polygons to the map -->
				<div
					id="drawingControls"
					class="absolute top-6 left-6 flex flex-col gap-3"
				>
					<button id="drawPointBtn" title="Draw Point">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.5 7.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0zm4.5 1.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
					<button id="drawLineBtn" title="Draw Line">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
					<button id="drawPolygonBtn" title="Draw Polygon">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M10 18a8 8 0 100-16 8 8 0 000 16zm-3.5-7.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0zm4.5 1.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
					<button id="clearDrawingsBtn" title="Clear All Drawings">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
				</div>
				<!-- ... rest of your map HTML ... -->
			</div>
		</div>
	</div>
</div>
{% endblock %} 
{% block extra_js %}

<script src="https://www.google.com/search?q=https://cdn.jsdelivr.net/npm/ol%40v7.3.0/dist/ol.js"></script>

<script src="https://www.google.com/search?q=https://cdn.jsdelivr.net/npm/ol-ext%404.0.0/dist/ol-ext.min.js"></script>

	<script src="{% static 'js/admin js/fire js/fire map.js'%}"></script>

	{% endblock %}
